includes:
	- phpstan-baseline.php

parameters:
	phpVersion: 80100
	tmpDir: build/phpstan
	level: 3
	bootstrapFiles:
		- phpstan-bootstrap.php
	paths:
		- src
	excludePaths:
		analyse:
			- src/Helpers/scl.php
		analyseAndScan:
			- src/Cli/Commands/Generators/Views/*
			- src/Debug/Toolbar/Views/toolbar.tpl.php		
	scanDirectories:
		- src/Helpers
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
