includes:
	- phpstan-baseline.php

parameters:
	phpVersion: 80100
	tmpDir: build/phpstan
	level: 4
	bootstrapFiles:
		- phpstan-bootstrap.php
	paths:
		- src
	excludePaths:
		analyse:
			- src/Helpers/scl.php
		analyseAndScan:
			- src/Cli/Commands/Generators/Views/*
			- src/Debug/Toolbar/Views/toolbar.tpl.php
	scanDirectories:
		- src/Helpers
	ignoreErrors:
		-
			identifier: property.phpDocType
		-
			identifier: method.childParameterType
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	strictRules:
		allRules: false
